.stacks {
    margin: 0 auto;
    list-style: none;
    padding: 0px 100px 0 100px;
    max-width: 1200px; }
    .stacks .clip {
      margin: 5px;
      width: 150px;
      height: 150px;
      background-color: white;
      border: 1px solid white;
      color: #09486b;
      float: left;
      text-align: center; }
      .stacks .clip.img-circle {
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        border-radius: 500px; }
      .stacks .clip i {
        display: block;
        padding-top: 25px;
        font-size: 4.8em; }
      .stacks .clip img {
        padding-top: 25px;
        display: block;
        margin: 0 auto;
        height: 100px; }
        .stacks .clip img.height {
          height: 100px;
          width: auto; }
        .stacks .clip img.width {
          height: auto;
          width: 100px;
          margin: 28px auto; }
        .stacks .clip img.white {
          -webkit-filter: grayscale(100%) brightness(1.5);
          filter: grayscale(100%) brightness(1.5); }
        .stacks .clip img.white-inv {
          -webkit-filter: grayscale(100%) brightness(1.5) invert(100%);
          filter: grayscale(100%) brightness(1.5) invert(100%); }
        .stacks .clip img.invert {
          -webkit-filter: invert(100%);
          filter: invert(100%); }
        .stacks .clip img.saturate {
          -webkit-filter: saturate(3);
          filter: saturate(3); }
        .stacks .clip img.grayscale {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
        .stacks .clip img.brightness {
          -webkit-filter: brightness(0.25);
          filter: brightness(0.25); }
        .stacks .clip img.contrast {
          -webkit-filter: contrast(160%);
          filter: contrast(160%); }
      .stacks .clip .title_sub_tech {
        margin-top: 5px;
        font-size: 13px;
        color: #09486b;
        display: block;
        text-align: center; }
      .stacks .clip:hover {
        background-color: #09486b;
        border: 1px solid #09486b;
        color: white; }
        .stacks .clip:hover img {
          -webkit-filter: grayscale(100%) brightness(1.5);
          filter: grayscale(100%) brightness(1.5); }
          .stacks .clip:hover img.invert-hover {
            -webkit-filter: invert(100%);
            filter: invert(100%); }
          .stacks .clip:hover img.invert-hover-white {
            -webkit-filter: grayscale(100%) brightness(1.5) invert(100%);
            filter: grayscale(100%) brightness(1.5) invert(100%); }
        .stacks .clip:hover .title_sub_tech {
          color: white; }